a, a:active, a:link, a:visited {
    text-decoration: none;
    color: white;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Fira, Sans, "Droid Sans", "Helvetica Neue", sans-serif;
}

header {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 100px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h3 {
    text-align: center;
    width: 90%;
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
}

p {
    text-align: center;
}

div {
    padding: 5px;
}

footer {
    text-align: center;
}

.blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.block {
    box-shadow: 0 0 5px #36d6ae;
    margin: 10px;
    text-align: center;
    color: #36d6ae;
}

.block-small {
    padding: 10px 20px;
}

.block-small:hover {
    box-shadow: 0 0 20px #36d6ae;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row a {
    margin: 0 5px;
}

.icon {
    background-size: 30px 30px;
	width: 30px;
	height: 30px;
	display: block;
}

.cyber-page {
    background-image: url("../img/cyber-page.svg");
}

.github {
	background-image: url("../img/github.svg");
}

.telegram {
    background-image: url("../img/telegram.svg");
}
